@*@{
    Layout = "../../views/shared/_layout.cshtml";
}*@
<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" />
<meta content="yes" name="apple-mobile-web-app-capable" />  
<meta content="black" name="apple-mobile-web-app-status-bar-style" />  
<meta content="telephone=no" name="format-detection" />
<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" /> 
<meta http-equiv="Pragma" content="no-cache" /> 
<meta http-equiv="Expires" content="0" /> 
<title>郎牌特曲</title>
<link rel="shortcut icon" type="image/x-icon" href="@(WorkContext.ImageDir)/favicon.ico">
<link type="text/css" rel="stylesheet" href="@(WorkContext.CSSDir)/common.css?v=1.0.1"/>
<link type="text/css" rel="stylesheet" href="@(WorkContext.CSSDir)/swiper.css"/>
<script src="@(WorkContext.ScriptDir)/defineRem.js"></script>
<script src="@(WorkContext.ScriptDir)/jquery-1.8.3.min.js"></script> 
<script src="@(WorkContext.ScriptDir)/tooltip.js"></script>
<script src="@(WorkContext.ScriptDir)/jquery.cookie.js"></script>	
<script src="@(WorkContext.ScriptDir)/index.js"></script>
<script src="@(WorkContext.ScriptDir)/swiper.jquery.min.js"></script>	
</head>
<body>
<!-- 引导页 -->
<!-- <div class="guide">
		<a class="ignore-btn" href="javascript:;">
			点击跳过
		</a>
		<p>四川郎酒集团责任有限公司</p>
	</div> -->
<div id="loading"><p><img src="@(WorkContext.ImageDir)/loading.gif?v=1.0.1">正在拼命加载中...</p></div>
<div class="hide">
	<img src="@(WorkContext.ImageDir)/guideBg2.jpg?v=1.0.1" alt="" class="guideImg">
</div>
<!-- 引导页 -->
<!-- 主页面 -->
<div id="container" class="index-bg cleax-fix">
<!-- 搜索栏 -->
	<div class="index-top clear-fix">
		<img src="@(WorkContext.ImageDir)/logo.png?v=1.0.1" class="logo" alt="">
		<div class="search-wrap">
			<img src="@(WorkContext.ImageDir)/searchIcon.jpg?v=1.0.1" alt="">
			<input type="text" class="text" placeholder="请输入搜索内容">
			<span class="clearText"></span>
			<input type="button" value="搜索" class="btn" id="search-btn">
		</div>
	</div>
<!-- 搜索栏 -->
<!-- 轮播图 -->
	<div class="banner swiper-container">
        	 <div class="swiper-wrapper">
				 <div class="swiper-slide"><img src="@(WorkContext.ImageDir)/bbanner.jpg?v=1.0.1" class="banner2"></div>
            	 <div class="swiper-slide"><img src="@(WorkContext.ImageDir)/bbanner.jpg?v=1.0.1"></div>
        	</div>
            <div class="swiper-pagination">
            </div>
        </div>
<!-- 轮播图 -->
<!-- 基本信息 -->
<div class="index-info clear-fix">
	<a href="/mob/home/jclogin?c=@Request["c"]" class="tag">稽查系统</a>
	<img src="@(WorkContext.ImageDir)/pro.png?v=1.0.1" alt="" style="width:5rem;height:auto;padding-top:2rem;">
	<ul class="list clear-fix" style="color: #6b5339;font-family:'黑体'">
        <li><span>品名：</span><span>郎牌特曲T8（2020版）（安徽版）</span></li>
        <li><span>酒精度：</span><span>42%vol</span></li>
        <li><span>原料：</span><span>水、高粱、大米、糯米、小麦、玉米</span></li>
        <li><span>出品商：</span><span>四川郎酒股份有限公司</span></li>
        <li><span>地址：</span><span>四川省古蔺县二郎镇</span></li>
        <li><span>制造商：</span><span>四川省古蔺郎酒厂（泸州）有限公司</span></li>
        <li><span>地址：</span><span>四川省泸州市龙马潭区石洞镇</span></li>
    </ul>
</div>

<!-- 基本信息 -->
<!-- 链接 -->
<div class="links clear-fix">
	<a href="http://lptq.langjiu.cn/lptq/activity/activity.html?type=15" class="activity">品牌活动</a>
	<a href="https://shop42856492.m.youzan.com/v2/feature/5AtJ7Fy4G1" class="buy">购买链接</a>
	<a href="http://www.langjiu.cn/" class="website">郎酒官网</a>
</div>
<!-- 链接 -->
<!-- 弹窗 -->
<div class="popups-first">
    <div class="main">
        <div class="clearIcon">
        </div>
        <div class="m_word">
            <p class="popups-text" >此产品属于郎酒股份正品</p >
            <p class="popups-text" >请放心饮用！</p >   
            <p class="popups-text">首次扫码时间:@ViewBag.FirstQryTime</p > 
        </div>
    </div>
</div>
<div class="popups">
    <div class="main">
        <div class="clearIcon">
        </div>
        <div class="m_word">
            <p>客官</p>
            <p class="minfont">此二维码已被扫过<span id="num"></span>次了哦！</p>
            <p class="popups-text">首次扫码时间:@ViewBag.FirstQryTime</p >
        </div>
    </div>
</div>
<!-- 弹窗 -->
<script>
    var time = @ViewBag.Cnt; 
    $("#num").text(time); 
      if(time == 1){
          $(".popups-first").show();
      }
      if(time <2) 
      {
          $(".popups").hide();
      }
      else {
          $(".popups").show();
          $(".popups-first").hide();
      }
      $(".clearIcon").on("click", function() {
          $(".popups").hide();
          $(".popups-first").hide();
      });
</script>
<!-- 弹窗 -->
<!-- 活动细则 -->
<!-- <div class="hdxz">
	<img src="@(WorkContext.ImageDir)/hdxz.jpg?v=1.0">
</div> -->
<!-- 活动细则 -->
</div>
    <!-- 主页面 -->
    <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=C93b5178d7a8ebdb830b9b557abce78b"></script>
    <script>
        /***/
        var geolocation = new BMap.Geolocation();
        function getLocation() {
            if (geolocation) {
                geolocation.getCurrentPosition(function (r) {
                    if (this.getStatus() == BMAP_STATUS_SUCCESS) {

                        showMap(r);
                    }
                    else {
                        console('failed' + this.getStatus());
                    }
                });
            }
            else {
                console("您的浏览器不支持使用HTML 5来获取地理位置服务");
            }
        }

        function showMap(value) {


            //获得经度纬度
            var x = value.point.lat;
            var y = value.point.lng;
            //配置Baidu Geocoding API
            var url = "http://api.map.baidu.com/geocoder/v2/?ak=C93b5178d7a8ebdb830b9b557abce78b" +
                "&callback=renderReverse" +
                "&location=" + x + "," + y +
                "&output=json" +
                "&pois=0";

            $.ajax({
                type: "GET",
                dataType: "jsonp",
                url: url,
                success: function (data) {

                    if (data == null || typeof data == "undefined") {
                        return;
                    }
                    if (data.status != "0") {
                        return;
                    }
                    var adr = data.result.addressComponent;
                    province = adr.province;
                    city = adr.city;
                    adress = data.result.formatted_address;
                },
                error: function (xmlHttpRequest, textStatus, errorThrown) { }
            });
        }

        getLocation();
    </script>
</body>
</html>